/* VARIABLES */
:root {
  --light-background-color: #fff;
  --light-text-color: hsl(0, 0%, 25%);
  --light-heading-color: hsl(0, 0%, 40%);
  --light-link-color: hsl(240, 50%, 40%);
  --light-link-color-active: hsl(240, 50%, 25%);
  --dark-background-color: hsl(0, 0%, 18%);
  --dark-text-color: hsl(0, 0%, 90%);
  --dark-heading-color: #fff;
  --dark-link-color: hsl(207, 50%, 70%);
  --dark-link-color-active: hsl(207, 50%, 55%);
  --measure: 60ch;

  --background-color: var(--light-background-color);
  --text-color: var(--light-text-color);
  --heading-color: var(--light-heading-color);
  --link-color: var(--light-link-color);
  --link-color-active: var(--light-link-color-active);
}

/* BOX SIZING */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* TYPOGRAPHY */
@font-face {
  font-family: 'Azuro Web';
  src: url('/fonts/azuro-regular.woff2') format('woff2'),
    url('/fonts/azuro-regular.woff') format('woff');
  font-style: normal;
  font-weight: normal;
  font-display: block;
}
@font-face {
  font-family: 'Azuro Web';
  src: url('/fonts/azuro-bold.woff2') format('woff2'),
    url('/fonts/azuro-bold.woff') format('woff');
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: 'Azuro Web';
  src: url('/fonts/azuro-italic.woff2') format('woff2'),
    url('/fonts/azuro-italic.woff') format('woff');
  font-style: italic;
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Azuro Web';
  src: url('/fonts/azuro-bolditalic.woff2') format('woff2'),
    url('/fonts/azuro-bolditalic.woff') format('woff');
  font-style: italic;
  font-weight: bold;
  font-display: swap;
}

:root {
  font-family: 'Azuro Web', 'Helvetica Neue', 'Optima', 'Avenir Next', system-ui,
    -apple-system,
    /* Firefox supports this but not yet `system-ui` */ 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  font-size: calc(1rem + 0.5vw);
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, 'Meslo LG M', Inconsolata, Menlo, SFMono-Regular,
    Consolas, 'Liberation Mono', monospace;
}

abbr[title] {
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 0.8em;
}

sub,
sup {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* TEXT WIDTH */
* {
  max-inline-size: var(--measure);
}

html,
body,
div,
header,
nav,
main,
footer {
  max-inline-size: none;
}

/* LIGHT & DARK MODES */
:root {
  color-scheme: light dark;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: color 300ms ease, background-color 400ms ease;
}

body.light-theme {
  --background-color: var(--light-background-color);
  --text-color: var(--light-text-color);
  --heading-color: var(--light-heading-color);
  --link-color: var(--light-link-color);
  --link-color-active: var(--light-link-color-active);
}

body.dark-theme {
  --background-color: var(--dark-background-color);
  --text-color: var(--dark-text-color);
  --heading-color: var(--dark-heading-color);
  --link-color: var(--dark-link-color);
  --link-color-active: var(--dark-link-color-active);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: var(--dark-background-color);
    --text-color: var(--dark-text-color);
    --heading-color: var(--dark-heading-color);
    --link-color: var(--dark-link-color);
    --link-color-active: var(--dark-link-color-active);
  }
}

/* SCROLLING */
html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

/* EMOJI */
.emoji {
  display: inline-block;
  vertical-align: middle;
  height: 1.25em;
  width: 1.25em;
  margin-inline: 0.2em;
  margin-block-start: -0.2em;
}

/* HEADINGS */
h1,
h2 {
  color: var(--heading-color);
  transition: color 200ms ease;
}

h1 {
  font-size: 3rem;
  font-weight: normal;
  margin-block-start: 0;
  margin-block-end: 0.8em;
}

h1.hero {
  font-size: calc(3rem + 5vw);
  font-weight: normal;
  margin-block-start: 0.8em;
}

h1 .emoji {
  margin-inline-start: 0;
}

h2 {
  font-size: 2.5rem;
  font-weight: normal;
  margin-block-start: 0;
  margin-block-end: 0.8em;
}

p + h1,
p + h2,
div + h2 {
  margin-block-start: 0.8em;
}

/* LINKS */
a,
a:visited {
  color: var(--link-color);
  text-decoration: none;
}

a:hover,
a:active {
  color: var(--link-color-active);
  text-decoration: underline;
}

/* COVER */
#cover {
  display: flex;
  flex-direction: column;
  min-block-size: calc(100vh - 1.5rem);
  padding: 1.5rem;
}

#cover > * {
  margin-block: 1rem;
}

#cover > :first-child:not(.hero) {
  margin-block-start: 0;
}

#cover > :last-child:not(.hero) {
  margin-block-end: 0;
}

#cover > .hero {
  margin-block: auto;
}

/* NAV */

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-end;
  list-style: none;
  align-items: center;
}

nav li {
  display: flex;
  justify-content: space-evenly;
}

nav a {
  padding-inline: 0.25em;
}

nav a.active {
  font-weight: bold;
}

/* FOOTER */
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

footer ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: flex-end;
  list-style: none;
  align-items: center;
}

footer li {
  font-size: 0.8rem;
  opacity: 60%;
}

/* DARK MODE TOGGLE */
.toggle-button {
  display: inline-block;
  margin-left: auto;
}

.toggle-button button {
  font-size: 1.25em;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}

.toggle-button button:hover,
.toggle-button button:active,
.toggle-button label:hover,
.toggle-button label:active {
  cursor: pointer;
}

/* ABOUT PAGE */
.about picture {
  max-inline-size: 360px;
}

.split {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.split > :first-child {
  flex-grow: 0;
  flex-basis: 360px;
}

.split > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 50%;
}
