---
export type { Props } from './Props';

let { title, ...props } = {
  'clip-rule': 'evenodd',
  'fill-rule': 'evenodd',
  'stroke-linejoin': 'round',
  'stroke-miterlimit': '2',
  title: 'Wave 5',
  viewBox: '0 0 32 32',
  ...Astro.props,
};
---

<svg {...props}
  >{title ? <title>{title}</title> : ''}<path d="M0 0h32v32H0z" fill="none"
  ></path><path
    d="M17.788 2.366a2.74 2.74 0 0 1 2.27-1.115c.501.014.99.157 1.414.426.158.1.304.217.439.346.706.693 1.417 1.382 2.098 2.1a2.752 2.752 0 0 1 .701 2.343l3.753 11.257a7.847 7.847 0 0 1 .403 2.436 7.92 7.92 0 0 1-1.275 4.375 8.66 8.66 0 0 1-1.798 1.974 10.226 10.226 0 0 1-12.052.665 2.74 2.74 0 0 1-1.631 2.328 2.75 2.75 0 0 1-1.89.121 2.74 2.74 0 0 1-3.147.967 2.797 2.797 0 0 1-.984-.612c-.706-.693-1.417-1.382-2.098-2.1a2.779 2.779 0 0 1-.564-.906 2.772 2.772 0 0 1 .189-2.343 2.78 2.78 0 0 1 .75-.839 2.756 2.756 0 0 1-.035-1.453A2.774 2.774 0 0 1 5.77 20.54c.24-.12.494-.201.755-.247-.386-.39-.771-.782-1.154-1.175a3.313 3.313 0 0 1-.708-1.157 3.238 3.238 0 0 1 0-2.135c.176-.504.48-.957.87-1.316a3.153 3.153 0 0 1-.29-.609 3.238 3.238 0 0 1-.048-1.985 3.256 3.256 0 0 1 1.609-1.95 3.238 3.238 0 0 1 .632-1.954 3.646 3.646 0 0 1 .257-.305l-.011.011c-.001.002-.002.003-.002.001a3.083 3.083 0 0 1 .43-.382 3.246 3.246 0 0 1 1.957-.633 3.249 3.249 0 0 1 1.505-1.441 3.25 3.25 0 0 1 .898-.267c.136-.019.172-.019.308-.029.154-.004.154-.004.309 0a3.181 3.181 0 0 1 1.174.282 2.77 2.77 0 0 1 .941-2.33c.202-.174.43-.319.673-.429.333-.149.69-.226 1.054-.239l.114-.001a2.586 2.586 0 0 1 .745.116z"
  ></path><path
    d="M21.05 13.409a3.665 3.665 0 0 1 2.32-4.634l.001-.001 3.191 9.573a5.927 5.927 0 0 1-1.432 6.066l-.002.002a8.223 8.223 0 0 1-11.633 0l-6.652-6.652a1.231 1.231 0 0 1 1.74-1.74l4.349 4.35.58-.58-6.089-6.09a1.23 1.23 0 0 1 0-1.739v-.001a1.231 1.231 0 0 1 1.74 0l5.509 5.51.58-.58-6.089-6.089a1.23 1.23 0 1 1 1.739-1.74l5.51 5.509.58-.58-4.93-4.929a1.231 1.231 0 0 1 0-1.74h.001a1.23 1.23 0 0 1 1.739 0l5.458 5.458L20.681 15l.951.153z"
    fill="#f9d8c8"></path><path
    d="m19.26 12.782 2.372 2.371.652 1.957c-.289.082-.59.161-.881.252a2.472 2.472 0 0 0-.785.437 2.393 2.393 0 0 0-.847 1.739c-.009.263.028.522.102.775.228.717.475 1.428.713 2.142a.787.787 0 0 1 .031.341.755.755 0 0 1-.817.643.75.75 0 0 1-.617-.456c-.265-.704-.478-1.428-.716-2.142a4.014 4.014 0 0 1-.197-1.159 3.9 3.9 0 0 1 1.097-2.766 4.01 4.01 0 0 1 1.021-.751z"
    fill="#e4b295"></path><path
    d="M6.03 25.251a.77.77 0 0 1 .483.202c.695.672 1.401 1.336 2.051 2.052a.758.758 0 0 1-.009.999c-.193.213-.501.298-.776.213a.774.774 0 0 1-.292-.17c-.695-.672-1.401-1.336-2.051-2.052a.796.796 0 0 1-.153-.274.757.757 0 0 1 .372-.887.777.777 0 0 1 .327-.084l.048.001zm1.011-3a.791.791 0 0 1 .464.194 126.177 126.177 0 0 1 4.048 4.033.774.774 0 0 1 .175.328.756.756 0 0 1-.667.926.745.745 0 0 1-.566-.192 128.283 128.283 0 0 1-4.048-4.033.755.755 0 0 1 .458-1.251 1.03 1.03 0 0 1 .136-.005zM17.022 4.25a.78.78 0 0 1 .487.199c1.034.994 2.048 2.008 3.042 3.042.08.09.14.194.172.31a.758.758 0 0 1-.203.74.753.753 0 0 1-1.029.01 109.067 109.067 0 0 1-3.042-3.042.792.792 0 0 1-.164-.282.757.757 0 0 1 .338-.875.768.768 0 0 1 .34-.101l.059-.001zm3.008-.999a.77.77 0 0 1 .483.202c.695.672 1.401 1.336 2.051 2.052a.778.778 0 0 1 .186.513.758.758 0 0 1-.708.731.749.749 0 0 1-.555-.202c-.695-.672-1.401-1.336-2.051-2.052a.796.796 0 0 1-.153-.274.757.757 0 0 1 .372-.887.777.777 0 0 1 .327-.084l.048.001z"
    fill="#565656"></path>
</svg>
