<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8" />
	<title>Page Not Found</title>
	<link
	  rel="preload"
	  href="/fonts/azuro-regular.woff2"
	  as="font"
	  type="font/woff2"
	  crossorigin
	/>
	<link href="/css/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
	<header id="main-header">
	  <h1>
		  <img
			class="emoji"
			src="{% static './emoji/crt_prompt.svg' %}"
			alt=":crt_prompt:"
			title=":crt_prompt:"
		  />
		  Page Not Found</h1>
	</header>
	<main id="main-content">
	  <p>The page you were trying to view does not exist :(</p>
	</main>
  </body>
</html>
