<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <script>
      performance.mark('head start');
    </script>
    <title>Cole Maclean</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Cole Maclean" />
    <meta name="description" content="" />

    <link
      rel="preload"
      href="/fonts/azuro-regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="canonical" href="https://colemaclean.dev/" />
    <script src="/js/main.js" async></script>
    <script>
      performance.mark('head end');
      performance.measure('head time', 'head start', 'head end');
    </script>
  </head>
  <body{% if theme %} class="{{ theme }}-theme"{% endif %}>
    <header id="main-header">
      <h1>
        <img
          class="emoji"
          src="{% static './emoji/wave_hmn_h5.svg' %}"
          alt=":wave:"
          title=":wave:"
        />
        Hi!
      </h1>
      <h2>I'm Cole Maclean.</h2>
    </header>
    <main id="main-content" role="main">
      <p>Find me around the web:</p>
      <ul class="linklist">
        <li class="github">
          code on <a href="https://github.com/cole/" rel="me">github</a>
        </li>
        <li class="twitter">
          occasional updates on
          <a href="https://twitter.com/cole/" rel="me">twitter</a>
        </li>
        <li class="stack-overflow">
          programming Q &amp; A on
          <a href="http://stackoverflow.com/users/751070/cole-maclean" rel="me"
            >stack overflow</a
          >
        </li>
        <li class="flickr">
          photos on
          <a href="https://www.flickr.com/photos/colemaclean/" rel="me"
            >flickr</a
          >
        </li>
        <li class="pinboard">
          bookmarks on
          <a href="https://pinboard.in/u:cole" rel="me">pinboard</a>
        </li>
      </ul>
      <p>
        <a href="mailto:hi@colemaclean.dev?subject=Hello"
          >Or, you can send me an email.</a
        >
      </p>
    </main>
    <footer id="main-footer">
      <p>
        Made with
        <img
          class="emoji"
          src="{% static './emoji/green_heart.svg' %}"
          alt=":green_heart:"
          title=":green_heart:"
        />
        in Vancouver using
        <a href="https://workers.cloudflare.com/">Cloudflare Workers</a> and
        <a href="https://mutant.tech">Mutant Standard</a> emoji.
      </p>
      <p style="display: none">
        Current time: <span id="current-time">{{ currentTime }}</span>
      </p>
    </footer>
    <div id="toggles">
      <div class="toggle-button">
        <label id="theme-switch-label" for="theme-switch"
          >{% if theme == 'dark' %}light mode{% elif theme == 'light' %}dark mode{% else %}colour scheme{% endif %}</label
        ><button
          id="theme-switch"
          role="switch"
          tabindex="0"
          aria-checked="false"
        >
          <img
            class="emoji"
            src="{% static './emoji/light_bulb.svg' %}"
            alt=":light_bulb:"
          />
        </button>
      </div>
    </div>
  </body>
</html>
