/* BASE STYLES */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  line-height: 1.15;
  width: 100%;
  /* Prevent adjustments of font size after orientation changes in iOS. */
  -webkit-text-size-adjust: 100%;
}

/* TYPOGRAPHY */
@font-face {
  font-family: 'Azuro Web';
  src: url('../fonts/azuro-regular.woff2') format('woff2'),
    url('../fonts/azuro-regular.woff') format('woff');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Azuro Web';
  src: url('../fonts/azuro-bold.woff2') format('woff2'),
    url('../fonts/azuro-bold.woff') format('woff');
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: 'Azuro Web';
  src: url('../fonts/azuro-italic.woff2') format('woff2'),
    url('../fonts/azuro-italic.woff') format('woff');
  font-style: italic;
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Azuro Web';
  src: url('../fonts/azuro-bolditalic.woff2') format('woff2'),
    url('../fonts/azuro-bolditalic.woff') format('woff');
  font-style: italic;
  font-weight: bold;
  font-display: swap;
}

body {
  font-family: 'Azuro Web', 'Helvetica Neue', 'Optima', 'Avenir Next', system-ui,
    -apple-system,
    /* Firefox supports this but not yet `system-ui` */ 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  color: hsl(0, 0%, 25%);
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, 'Meslo LG M', Inconsolata, Menlo, SFMono-Regular,
    Consolas, 'Liberation Mono', monospace;
  font-size: 1em;
}

a,
a:visited {
  color: hsl(240, 100%, 55%);
  text-decoration: none;
}

a:hover,
a:active {
  color: hsl(240, 100%, 45%);
  text-decoration: underline;
}

abbr[title] {
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* GRID LAYOUT */
body {
  display: grid;
  grid-template-areas:
    'header'
    'content'
    'footer';
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

header#main-header {
  grid-area: header;
  margin: 1em 1em 0;
}

main#main-content {
  grid-area: content;
  margin: 0 1em 1em;
}

footer#main-footer {
  grid-area: footer;
  margin: 0 1em 1em;
}

/* EMOJI */
img.emoji {
  display: inline-block;
  vertical-align: middle;
  height: 1.25em;
  width: 1.25em;
}

h1 img.emoji,
p img.emoji,
li img.emoji {
  margin-top: -0.17em;
}

/* CONTENT */
h1 {
  color: hsl(0, 0%, 40%);
  font-size: 3em;
  font-weight: normal;
}

h1 b {
  font-weight: bold;
  color: hsl(0, 0%, 25%);
}

ul.linklist {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: left;
}

ul.linklist li {
  flex: 1 1 auto;
  margin: 0.2em;
}
