---
import CrtPrompt from 'icons/CrtPrompt.astro';
import Layout from 'layouts/Layout.astro';
import { getCookieTheme } from 'themes';

const theme = getCookieTheme(Astro.request);
---

<Layout title="404" theme={theme}>
  <div>
    <h1>
      <CrtPrompt class="emoji" />
      Not Found
    </h1>
    <p>Oops! That link is broken.</p>
  </div>
</Layout>
