---
import { CrtPrompt } from '../icons';
import Layout from '../layouts/Layout.astro';
import { getCookieTheme } from '../themes';

const theme = getCookieTheme(Astro.request);
---

<Layout title="404" theme={theme}>
  <div>
    <h1>
      <CrtPrompt class="emoji" />
      Not Found
    </h1>
    <p>Ooops! That link is broken.</p>
    <p>
      <a href="/">Home</a>
    </p>
  </div>
</Layout>
