---
import CrtBlueScreen from 'icons/CrtBlueScreen.astro';
import Layout from 'layouts/Layout.astro';
import { getCookieTheme } from 'themes';

const theme = getCookieTheme(Astro.request);
---

<Layout title="500" theme={theme}>
  <div>
    <h1>
      <CrtBlueScreen class="emoji" />
      Server Error :(
    </h1>
    <p>Oh no! That shouldn't have happend.</p>
    <p>
      <a href="/">Home</a>
    </p>
  </div>
</Layout>
