---
import Layout from 'layouts/Layout.astro';
import { getCookieTheme } from 'themes';

const theme = getCookieTheme(Astro.request);
---

<Layout title="Cole Maclean" theme={theme}>
  <div>
    <h1 id="about">About</h1>
    <div class="split">
      <picture>
        <source
          type="image/webp"
          srcset="/images/portrait-1x.webp 1x, /images/portrait-2x.webp 2x"
        />
        <img
          src="/images/portrait.jpg"
          srcset="/images/portrait-1x.jpg 1x, /images/portrait-2x.jpg 2x"
          alt="Portrait of the author, Cole Maclean"
          width="360"
          height="480"
        />
      </picture>
      <div>
        <p>I'm a software developer living and working in Vancouver, Canada.</p>
        <p>
          You can find some of my work on <a
            href="https://github.com/cole/"
            rel="me">GitHub</a
          >. My most popular project is
          <a href="https://pypi.org/project/aiosmtplib/">aiosmtplib</a>, a
          library for sending email asynchronously in Python.
        </p>
        <p>
          This site is built with <a href="https://astro.build">Astro</a> and hosted on <a href="https://deno.com/deploy">Deno Deploy</a>.
        </p>
        <p>Icons are <a
            href="https://mutant.tech">Mutant Standard</a
          >, which are licensed under a
          <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">
            Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International
            License
          </a>
          .
        </p>
        <p>
          Type is set in Georg Seifert's
          <a href="https://www.fontshop.com/families/azuro">Azuro</a>.
        </p>
      </div>
    </div>
  </div>
</Layout>
