---
import Layout from 'layouts/Layout.astro';

import { getCookieTheme } from 'themes';

const theme = getCookieTheme(Astro.request);
---

<Layout title="Cole Maclean" theme={theme}>
  <div>
    <h1>Contact</h1>
    <p>
      email: <a href="mailto:hi@colemaclean.dev">hi@colemaclean.dev</a>
    </p>
    <p>
      mastodon: <a href="https://hachyderm.io/@cole" rel="me">@cole</a>
    </p>
  </div>
</Layout>
