---
import { Icon } from "astro-icon";
import Layout from "../layouts/Layout.astro";
import { getCookieTheme } from "../themes";

const theme = getCookieTheme(Astro.request);
---

<Layout title="Cole Maclean" theme={theme}>
  <div>
    <h1 class="hero">
      <Icon name="wave_hmn_h5" class="emoji" title="hi there" />
      Hello!
    </h1>
    <h2>I'm Cole Maclean.</h2>
    <div>
      <a href="/about"> about me →</a>
    </div>
  </div>
</Layout>
