---
import { WaveHmn5 } from '../icons';
import Layout from '../layouts/Layout.astro';
import { getCookieTheme } from '../themes';

const theme = getCookieTheme(Astro.request);
---

<Layout title="Cole Maclean" theme={theme}>
  <div>
    <h1 class="hero">
      <WaveHmn5 class="emoji" title="hi there" />
      Hello!
    </h1>
    <h2>I'm Cole Maclean.</h2>
    <div>
      <a href="/about"> about me →</a>
    </div>
  </div>
</Layout>
